<ion-view style="" id="page9" title="Confirmar Productos">
    <ion-content class="has-header" padding="true">

        <ion-list class=" " id="confirmarProductos-list7">
          <ion-item ng-repeat="producto in prodConfirmar" style="" id="confirmarProductos-list-item17" class="">
              <h2>{{producto.nombre}}</h2>
              Cantidad: {{producto.cantidad}}
          </ion-item>
        </ion-list>
        <h3 style="color: rgb(0, 0, 0);" id="confirmarProductos-heading3">Precio Total:</h3>
        <div class="button-bar" id="confirmarProductos-button-bar4">
            <a class="button button-positive  button-block" id="confirmarProductos-button18" ui-sref="ventas.agregueProductos">Anterior</a>
            <a class="button button-positive  button-block" id="confirmarProductos-button20"  ng-click="showConfirm()" >Siguiente</a>
        </div>
    </ion-content>
     <script id="popup-template.html" type="text/ng-template">
</ion-view>