<ion-view style="" class=" " id="page9" title="Confirmar Productos">
    <ion-content class="has-header" padding="true">
        <ion-list class=" " id="confirmarProductos-list7">
            <ion-item style="" class="  " id="confirmarProductos-list-item23">Item 1</ion-item>
            <ion-item style="" class="  " id="confirmarProductos-list-item24">Item 2</ion-item>
            <ion-item style="" class="  " id="confirmarProductos-list-item25">Item 3</ion-item>
        </ion-list>
        <h3 class=" " style="color: rgb(0, 0, 0);" id="confirmarProductos-heading3">Precio Total:</h3>
        <div class=" button-bar " id="confirmarProductos-button-bar4">
            <a class=" button button-positive  button-block " id="confirmarProductos-button18" ui-sref="ventas.agregueProductos">Anterior</a>
            <button class=" button button-positive  button-block " id="confirmarProductos-button20">Siguiente</button>
        </div>
    </ion-content>
</ion-view>