<ion-view title="Proveedores" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="proveedores-form14" class="list">
      <h3 id="proveedores-heading41" style="color:#000000;text-align:center;">Busque por nombre</h3>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Ingrese nombre">
      </label>
      <ion-item class="item-icon-left" id="proveedores-list-item20" ui-sref="menu.infoProveedor">
        <i class="icon ion-android-person"></i>Alejo Gagliardi</ion-item>
      <ion-item class="item-icon-left" id="proveedores-list-item24">
        <i class="icon ion-android-person"></i>Franco Suarez</ion-item>
      <ion-item class="item-icon-left" id="proveedores-list-item25">
        <i class="icon ion-android-person"></i>Marta Ramirez</ion-item>
    </form>
    <a ui-sref="menu.nuevoProveedor" id="proveedores-button18" class="button button-positive  button-block">Nuevo proveedor</a>
  </ion-content>
</ion-view>