<ion-view title="Detalle venta" id="page19">
  <ion-content padding="true" class="has-header">
	<div class="spacer" style="width: 300px; height: 5px;"></div>
	<h3 id="detalleVenta-heading1" style="color:#000000; margin-bottom:20px;">Información general</h3>
    <ion-item>
    <h2 ng-bind-html="nombreClienteVenta" id="detalleVenta-heading18" style="color:#000000; weight: bold;">Cliente:</h2>
    <h2 ng-bind-html="fechaVenta" id="detalleVenta-heading25" style="color:#000000;">Fecha:</h2>
	<h2 ng-bind-html="totalVenta" id="detalleVenta-heading23" style="color:#000000;">Total:</h2>
	</ion-item>
    <h3 id="detalleVenta-heading47" style="color:#000000; margin-bottom:20px;">Ubicación</h3>
	<div ng-controller="detalleVentaCtrl" data-tap-disable="true" style="position: relative; top: 0px; bottom: 0px; left: 0px; right: 0px;">
        <leaflet height="300px" width="100%" markers="markers" center="center" defaults="defaults"></leaflet>
    </div>
    <h3 id="detalleVenta-heading47" style="color:#000000; margin-bottom:20px;">Productos</h3>
    
	  <ion-list>
		<div ng-repeat="producto in productos" >
          <ion-item>  
				<div>
					<img src="img/productos.jpg" width="100%" height="100" style="display: block; margin-left: auto; margin-right: auto;">
				</div>
				Nombre: {{producto.nombre}} <br>
				Descripcion: {{producto.descripcion}} <br>
				Categoria: {{producto.categoria}} <br>
				Cantidad vendidos: {{producto.cantidad}}<br>
				Precio compra: {{producto.precioCompra}}<br>
				Precio venta: {{producto.precioVenta}}<br>
          </ion-item>
        </div>
	</ion-list>
  </ion-content>
  <ion-footer-bar style="height: 60px;">
		<button  style="height: 37px; font-size:18px;" class="button button-positive  button-block" ng-click="eliminarVenta()">Eliminar</button>
  </ion-footer-bar>
</ion-view>