<ion-view title="Detalles pedido" id="page17">
  <ion-content padding="true" class="has-header">
    <h3 id="detallesPedido-heading51" style="color:#000000;">Proveedor: Alejo Gagliardi</h3>
    <h3 id="detallesPedido-heading53" style="color:#000000;">Fecha: 24/5/2016</h3>
    <h3 id="detallesPedido-heading52" style="color:#000000;">Total: $700</h3>
    <h3 id="detallesPedido-heading54" style="color:#000000;text-align:center;">Productos</h3>
    <div class="item item-body" id="detallesPedido-list-item-container9">
      <div>
        <img src="img/vdA28BaOQMq0rD7duMDl_f254782e409a2635d4b69a6f8ad7eecd.jpg" width="100%" height="100" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div id="detallesPedido-markdown26">
        <p style="margin-top:0px;color:#000000;">Nombre: Vasos descartables</p>
      </div>
      <div id="detallesPedido-markdown27">
        <p style="margin-top:0px;color:#000000;">Descripcion: Vaso desechable 1 litro</p>
      </div>
      <div id="detallesPedido-markdown31">
        <p style="margin-top:0px;color:#000000;">Categoria: Cotillon</p>
      </div>
      <div id="detallesPedido-markdown28">
        <p style="margin-top:0px;color:#000000;">Precio unidad: $0,30</p>
      </div>
      <div id="detallesPedido-markdown29">
        <p style="margin-top:0px;color:#000000;">Cantidad: 2330</p>
      </div>
      <div id="detallesPedido-markdown30">
        <p style="margin-top:0px;color:#000000;">Total: $700</p>
      </div>
    </div>
  </ion-content>
</ion-view>