<ion-view title="Detalle venta" id="page19">
  <ion-content padding="true" class="has-header">
    <h3 id="detalleVenta-heading18" style="color:#000000;">Cliente: Brayam Ojeda</h3>
    <h3 id="detalleVenta-heading23" style="color:#000000;">Total: $500</h3>
    <h3 id="detalleVenta-heading25" style="color:#000000;">Fecha: 26/05/2016</h3>
    <h3 id="detalleVenta-heading30" style="color:#000000;">Ubicacion:</h3>
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <h2 id="detalleVenta-heading32" style="color:#000000;text-align:center;">Mapa</h2>
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <h3 id="detalleVenta-heading47" style="color:#000000;">Productos:</h3>
    <div class="item item-body" id="detalleVenta-list-item-container12">
      <div>
        <img src="img/vdA28BaOQMq0rD7duMDl_f254782e409a2635d4b69a6f8ad7eecd.jpg" width="100%" height="100" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div id="detalleVenta-markdown18">
        <p style="margin-top:0px;color:#000000;">Nombre: Vasos descartables</p>
      </div>
      <div id="detalleVenta-markdown21">
        <p style="margin-top:0px;color:#000000;">Descripcion: Vaso desechable 1 litro</p>
      </div>
      <div id="detalleVenta-markdown25">
        <p style="margin-top:0px;color:#000000;">Categoria: Cotillon</p>
      </div>
      <div id="detalleVenta-markdown32">
        <p style="margin-top:0px;color:#000000;">Precio unidad: $0,30</p>
      </div>
      <div id="detalleVenta-markdown33">
        <p style="margin-top:0px;color:#000000;">Cantidad: 1000</p>
      </div>
      <div id="detalleVenta-markdown34">
        <p style="margin-top:0px;color:#000000;">Total: $300</p>
      </div>
    </div>
    <div class="item item-body" id="detalleVenta-list-item-container13">
      <div>
        <img src="img/0bLwJFkBQierNtGuJZek_BOLSA-CONSORCIO-GUARDIN-NEGRO-60x90.jpg" width="100%" height="100" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div id="detalleVenta-markdown35">
        <p style="margin-top:0px;color:#000000;">Nombre: Bolsa consorcio</p>
      </div>
      <div id="detalleVenta-markdown36">
        <p style="margin-top:0px;color:#000000;">Descripcion: Bolsa de 20L</p>
      </div>
      <div id="detalleVenta-markdown37">
        <p style="margin-top:0px;color:#000000;">Categoria: Cotillon</p>
      </div>
      <div id="detalleVenta-markdown38">
        <p style="margin-top:0px;color:#000000;">Precio unidad: $0,10</p>
      </div>
      <div id="detalleVenta-markdown39">
        <p style="margin-top:0px;color:#000000;">Cantidad: 2000</p>
      </div>
      <div id="detalleVenta-markdown40">
        <p style="margin-top:0px;color:#000000;">Total: $200</p>
      </div>
    </div>
  </ion-content>
</ion-view>