<ion-view title="Elija cliente" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="elijaCliente-form8" class="list">
      <h3 id="elijaCliente-heading15" style="color:#000000;text-align:center;">Paso 3/4</h3>
      <ion-radio id="elijaCliente-radio1">Marcos Lozano</ion-radio>
      <ion-radio id="elijaCliente-radio2">Mariano Benitez</ion-radio>
      <ion-radio id="elijaCliente-radio3">Brayam Ojeda</ion-radio>
      <div class="spacer" style="width: 300px; height: 25px;"></div>
    </form>
    <a ui-sref="menu.elijaPuntoDeVenta" id="elijaCliente-button10" class="button button-positive  button-block">Siguiente</a>
  </ion-content>
</ion-view>