<ion-view title="Elija los productos" id="page5">
  <ion-content padding="true" class="has-header">
		<form class="list" id="agregueProductos-form5">
				<label style="" class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input placeholder="" type="search">
				</label>
		</form>
		<div class="item item-body" id="elijaLosProductos-list-item-container1">
			 <ion-list class=" " id="agregueProductos-list5">
				<ion-item ng-repeat="producto in productosStock" style="" id="agregueProductos-list-item17" class="" ng-click="elegirProductos(producto)">
					<h2>{{producto.nombre}}</h2>
					Precio de venta: {{producto.precioVenta}} <br>
					Cantidad en stock: {{producto.cantidad}}
				</ion-item>
			</ion-list>
		</div>
    <a ui-sref="menu.informacionDeProductos" id="elijaLosProductos-button9" class="button button-positive  button-block">Siguiente</a>
  </ion-content>
</ion-view>