<ion-view title="Elija punto de venta" id="page8">
  <ion-content padding="true" class="has-header">
    <h3 id="elijaPuntoDeVenta-heading16" style="color:#000000;text-align:center;">Paso 4/4</h3>
    <div class="spacer" style="width: 300px; height: 55px;"></div>
    <h1 id="elijaPuntoDeVenta-heading17" style="color:#000000;text-align:center;">AQUI VA MAPA</h1>
    <div class="spacer" style="width: 300px; height: 74px;"></div>
    <button id="elijaPuntoDeVenta-button11" class="button button-positive  button-block">Terminar</button>
  </ion-content>
</ion-view>