<ion-view title="Elija proveedor" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="elijaProveedor-form25" class="list">
      <h2 id="elijaProveedor-heading49" style="color:#000000;text-align:center;">2/2</h2>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <h3 id="elijaProveedor-heading50" style="color:#000000;text-align:center;">Busque por nombre</h3>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-radio id="elijaProveedor-radio6">Alejo Gagliardi</ion-radio>
      <ion-radio id="elijaProveedor-radio7">Franco Suarez</ion-radio>
      <ion-radio id="elijaProveedor-radio8">Marta Ramirez</ion-radio>
    </form>
    <a ui-sref="menu.pedidos" id="elijaProveedor-button22" class="button button-positive  button-block">Terminar</a>
  </ion-content>
</ion-view>