<ion-view title="Seleccione los productos" id="page5">
     <div class="bar bar-subheader bar-stable item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon "></i>
            <input type="search" placeholder="Search" ng-change="srchchange()" ng-model="adn.item">
          </label>
          <button class="button button-clear " ng-click="ressetserach()"><i class="ion-android-cancel assertive"></i>
          </button>
   </div>
	
  <ion-content class="has-subheader white-bg"  has-bouncing="true">
  
	  <ion-list>
		<div   ng-repeat="producto in productosFiltrados"  data="{{productosFiltrados}}" ng-click="getDatapointId(productosFiltrados)" >
          <ion-item>  
           <h2 style="margin-bottom:8px">{{producto.nombre}}</h2>
					<h2 style="float:right"> + {{producto.cantidadSeleccionados}}</h2>
					Categoria: {{producto.categoria}} <br>
					Precio de venta: {{producto.precioVenta}} <br>
					Cantidad en stock: {{producto.cantidad}}<br>
					<button id="perfil-button1" style="font-size:16px;border-radius:51px 0px 0px 51px; margin-top:10px;" class="button button-positive button-small button-line" ng-click="quitarProducto(producto)">Quitar</button>
					<button id="perfil-button1" style="font-size:16px;border-radius:0px 51px 51px 0px; margin-top:10px;" class="button button-positive button-small button-line" ng-click="agregarProducto(producto)">Añadir</button>
          </ion-item>
        </div>
		<div ng-if="productosFiltrados !== undefined && !productosFiltrados.length" class="no-results">
			<ion-item >No Results Found..</ion-item >
		</div>
	</ion-list>
		
	 
  </ion-content>
</ion-view>
<ion-footer-bar style="height: 55px;">
<button  style="height: 40px; font-size:18px;" class="button button-positive  button-line" ng-click="limpiar()">Limpiar</button>
  <button  style="height: 40px; font-size:18px;" class="button button-positive  button-line" ng-click="confirmarProductos()">Siguiente</button>
</ion-footer-bar>