<ion-view title="Elija los productos" id="page5">
  <ion-content padding="true" class="has-header">
    <h3 id="elijaLosProductos-heading9" style="color:#000000;text-align:center;">Paso 1/4</h3>
    <h4 id="elijaLosProductos-heading11" style="color:#000000;">Nombre:</h4>
    <h4 id="elijaLosProductos-heading12" style="color:#000000;">Precio:</h4>
    <h4 id="elijaLosProductos-heading13" style="color:#000000;">Stock:</h4>
    <form id="elijaLosProductos-form7" class="list">
      <ion-item class="range range-positive" id="elijaLosProductos-range4">Cantidad
        <input type="range" value="0" min="0" max="100" step="1">
      </ion-item>
    </form>
    <button id="elijaLosProductos-button8" style="text-align:left;border-radius:4px 4px 4px 4px;" class="button button-calm">Agregar al carro</button>
    <a ui-sref="menu.informacionDeProductos" id="elijaLosProductos-button9" class="button button-positive  button-block">Siguiente</a>
  </ion-content>
</ion-view>