<ion-view title="Informacion de productos" id="page6">
  <ion-content padding="true" class="has-header">
    <h3 id="informacionDeProductos-heading10" style="color:#000000;text-align:center;">Paso 2/4</h3>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div id="informacionDeProductos-button-bar2" class="button-bar"></div>
    <div id="informacionDeProductos-markdown3" style="text-align:justify;">
      <p style="color:#000000;">Nombre:</p>
    </div>
    <div id="informacionDeProductos-markdown4">
      <p style="color:#000000;">Cantidad:</p>
    </div>
    <div id="informacionDeProductos-markdown5">
      <p style="color:#000000;">Precio:</p>
    </div>
    <h3 id="informacionDeProductos-heading14" style="color:#000000;">Precio total:</h3>
    <a ui-sref="menu.elijaCliente" id="informacionDeProductos-button16" class="button button-positive  button-block">Siguiente</a>
  </ion-content>
</ion-view>