<ion-view title="Información proveedor" id="page13">
  <ion-content padding="true" class="has-header">
    <h2 id="infoProveedor-heading42" style="color:#000000;">Nombre</h2>
    <form id="infoProveedor-form20" class="list">
      <label class="item item-input" id="infoProveedor-input20">
        <input type="text" placeholder="" ng-model="nombreProveedor">
      </label>
    </form>
    <h2 id="infoProveedor-heading45" style="color:#000000;">Dirección</h2>
    <form id="infoProveedor-form19" class="list">
      <label class="item item-input" id="infoProveedor-input19">
        <input type="text" placeholder="" ng-model="direccionProveedor">
      </label>
    </form>
    <h2 id="infoProveedor-heading43" style="color:#000000;">CUIT</h2>
    <form id="infoProveedor-form21" class="list">
      <label class="item item-input" id="infoProveedor-input22">
        <input type="text" placeholder="" ng-model="cuitProveedor">
      </label>
    </form>
    <h2 id="infoProveedor-heading44" style="color:#000000;">Telefono</h2>
    <form id="infoProveedor-form22" class="list">
      <label class="item item-input" id="infoProveedor-input21">
        <input type="text" placeholder="" ng-model="telefonoProveedor">
      </label>
    </form>

<ion-footer-bar style="height: 55px;">
<button  style="height: 40px; font-size:18px;" class="button button-positive  button-line" ng-click="eliminarProveedor()">Eliminar</button>
<button  style="height: 40px; font-size:18px;" class="button button-positive  button-line" ng-click="guardarCambios(nombreProveedor, direccionProveedor, cuitProveedor, telefonoProveedor)">Guardar cambios</button>
</ion-footer-bar>
  </ion-content>
</ion-view>