<ion-view title="Info proveedor" id="page13">
  <ion-content padding="true" class="has-header">
    <h2 id="infoProveedor-heading42" style="color:#000000;">Nombre</h2>
    <form id="infoProveedor-form20" class="list">
      <label class="item item-input" id="infoProveedor-input20">
        <span class="input-label">Alejo</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h2 id="infoProveedor-heading45" style="color:#000000;">Apellido</h2>
    <form id="infoProveedor-form19" class="list">
      <label class="item item-input" id="infoProveedor-input19">
        <span class="input-label">Gagliardi</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h2 id="infoProveedor-heading43" style="color:#000000;">CUIT</h2>
    <form id="infoProveedor-form21" class="list">
      <label class="item item-input" id="infoProveedor-input22">
        <span class="input-label">67394450310</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h2 id="infoProveedor-heading44" style="color:#000000;">Direccion</h2>
    <form id="infoProveedor-form22" class="list">
      <label class="item item-input" id="infoProveedor-input21">
        <span class="input-label">Calle falsa 123</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="menu.proveedores" id="infoProveedor-button20" class="button button-positive  button-block">Terminar</a>
  </ion-content>
</ion-view>