<ion-view title="Mis datos" id="page1">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/perfil.jpg" width="100%" height="200" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <h2  ng-bind-html="nombreUsuario" id="misDatos-heading21" style="color:#000000;text-align:center;">Nombre: User</h2>
    <h2 ng-bind-html="apellidoUsuario" id="misDatos-heading22" style="color:#000000;text-align:center;">Apellido: User</h2>
    <a ui-sref="menu.modificarDatos" id="misDatos-button12" class="button button-positive  button-block">Modificar datos</a>
  </ion-content>
</ion-view>