<ion-view title="Modificar datos" id="page10">
  <ion-content padding="true" class="has-header">
    <h2 id="modificarDatos-heading33" style="color:#000000;">Nombre</h2>
    <form id="modificarDatos-form11" class="list">
      <label class="item item-input" id="modificarDatos-input10">
        <input type="text" placeholder="" ng-model="nombre">
      </label>
    </form>
    <h2 id="modificarDatos-heading34" style="color:#000000;">Apellido</h2>
    <form id="modificarDatos-form12" class="list">
      <label class="item item-input" id="modificarDatos-input14">
        <input type="text" placeholder="" ng-model="apellido">
      </label>
      <h2 id="modificarDatos-heading35" style="color:#000000;">Contraseña</h2>
      <label class="item item-input" id="modificarDatos-input12">
        <input type="password" placeholder="" ng-model="pass">
      </label>
      <h2 id="modificarDatos-heading36" style="color:#000000;">Repita contraseña</h2>
    </form>
    <form id="modificarDatos-form13" class="list">
      <label class="item item-input" id="modificarDatos-input13">
        <input type="password" placeholder="" ng-model="passRep">
      </label>
    </form>
 
	<ion-footer-bar style="height: 60px;">
		<button  style="height: 37px; font-size:18px;" class="button button-positive  button-block" ng-click="guardarCambios(nombre, apellido, pass, passRep)">Guardar cambios</button>
	</ion-footer-bar>
	 
  </ion-content>
</ion-view>