<ion-view title="Nuevo cliente" id="page13">
  <ion-content padding="true" class="has-header">
    <h2 id="nuevoCliente-heading1" style="color:#000000;">Nombre</h2>
    <form id="nuevoCliente-form20" class="list">
      <label class="item item-input" id="nuevoCliente-input20">
        <input type="text" placeholder="" ng-model="nombreCliente">
      </label>
    </form>
    <h2 id="nuevoCliente-heading2" style="color:#000000;">Apellido</h2>
    <form id="nuevoCliente-form19" class="list">
      <label class="item item-input" id="nuevoCliente-input19">
        <input type="text" placeholder="" ng-model="apellidoCliente">
      </label>
    </form>
    <h2 id="nuevoCliente-heading3" style="color:#000000;">DNI</h2>
    <form id="nuevoCliente-form21" class="list">
      <label class="item item-input" id="nuevoCliente-input22">
        <input type="text" placeholder="" ng-model="dniCliente">
      </label>
    </form>
	<h2 id="nuevoCliente-heading4" style="color:#000000;">Dirección</h2>
    <form id="nuevoCliente-form19" class="list">
      <label class="item item-input" id="nuevoCliente-input19">
        <input type="text" placeholder="" ng-model="direccionCliente">
      </label>
    </form>
    <h2 id="nuevoCliente-heading5" style="color:#000000;">Telefono</h2>
    <form id="nuevoCliente-form22" class="list">
      <label class="item item-input" id="nuevoCliente-input21">
        <input type="text" placeholder="" ng-model="telefonoCliente">
      </label>
    </form>
    <button  style="height: 40px; font-size:18px;" class="button button-positive  button-block" ng-click="nuevoCliente(nombreCliente, apellidoCliente, dniCliente, direccionCliente, telefonoProveedor)">Añadir</button>
  </ion-content>
</ion-view>