<ion-view title="Nuevo pedido" id="page14">
  <ion-content padding="true" class="has-header">
    <h2 id="nuevoPedido-heading48" style="color:#000000;text-align:center;">1/2</h2>
    <h2 id="nuevoPedido-heading46" style="color:#000000;text-align:center;">Seleccione productos</h2>
    <div class="item item-body" id="nuevoPedido-list-item-container6">
      <div id="nuevoPedido-markdown19">
        <p style="margin-top:0px;color:#000000;">Nombre:</p>
      </div>
      <form id="nuevoPedido-form23" class="list">
        <ion-item class="range range-positive" id="nuevoPedido-range5">Cantidad
          <input type="range" value="0" min="0" max="100" step="1">
        </ion-item>
      </form>
    </div>
    <div class="item item-body" id="nuevoPedido-list-item-container7">
      <div id="nuevoPedido-markdown20">
        <p style="margin-top:0px;color:#000000;">Nombre:</p>
      </div>
      <form id="nuevoPedido-form24" class="list">
        <ion-item class="range range-positive" id="nuevoPedido-range6">Cantidad
          <input type="range" value="0" min="0" max="100" step="1">
        </ion-item>
      </form>
    </div>
    <a ui-sref="menu.elijaProveedor" id="nuevoPedido-button21" class="button button-positive  button-block">Siguiente</a>
  </ion-content>
</ion-view>