<ion-view title="Nuevo proveedor" id="page12">
  <ion-content padding="true" class="has-header">
    <h2 id="nuevoProveedor-heading37" style="color:#000000;">Nombre</h2>
    <form id="nuevoProveedor-form15" class="list">
      <label class="item item-input" id="nuevoProveedor-input15">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h2 id="nuevoProveedor-heading38" style="color:#000000;">Direccion</h2>
    <form id="nuevoProveedor-form16" class="list">
      <label class="item item-input" id="nuevoProveedor-input18">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h2 id="nuevoProveedor-heading39" style="color:#000000;">CUIT</h2>
    <form id="nuevoProveedor-form17" class="list">
      <label class="item item-input" id="nuevoProveedor-input16">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h2 id="nuevoProveedor-heading40" style="color:#000000;">Telefono</h2>
    <form id="nuevoProveedor-form18" class="list">
      <label class="item item-input" id="nuevoProveedor-input17">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <a ui-sref="menu.proveedores" id="nuevoProveedor-button19" class="button button-positive  button-block">Terminar</a>
    </form>
  </ion-content>
</ion-view>