<ion-view title="Nuevo pedido" id="page14">
  <ion-content padding="true" class="has-header">
    <h2 id="nuevoPedido-heading48" style="color:#000000;text-align:center;">1/2</h2>
    <h2 id="nuevoPedido-heading46" style="color:#000000;text-align:center;">Seleccione productos</h2>
    <form class="list" id="nuevoPedido-form5">
				<label style="" class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input placeholder="" type="search">
				</label>
		</form>
		<div class="item item-body" id="elijaLosProductos-list-item-container1">
			 <ion-list class=" " id="nuevoPedido-list5">
				<ion-item ng-repeat="producto in productos" style="" id="nuevoPedido-list-item17" class="">
					<h2>{{producto.nombre}}</h2>
					<h2 style="float:right"> + {{producto.cantidadSeleccionados}}</h2>
					Categoria: {{producto.categoria}} <br>
					Precio de venta: {{producto.precioVenta}} <br>
					Cantidad en stock: {{producto.cantidad}}<br>
					<button id="perfil-button1" style="font-size:16px;border-radius:51px 0px 0px 51px; margin-top:10px;" class="button button-positive button-small button-line" ng-click="quitarProducto(producto)">Quitar</button>
					<button id="perfil-button1" style="font-size:16px;border-radius:0px 51px 51px 0px; margin-top:10px;" class="button button-positive button-small button-line" ng-click="agregarProducto(producto)">Añadir</button>
				</ion-item>
			</ion-list>
		</div>
   
  </ion-content>
</ion-view>
<ion-footer-bar style="height: 55px;">
<button  style="height: 40px; font-size:18px;" class="button button-positive  button-line" ng-click="limpiar()">Limpiar</button>
  <button  style="height: 40px; font-size:18px;" class="button button-positive  button-line" ng-click="confirmarProductos()">Siguiente</button>
</ion-footer-bar>