<ion-view title="Pedidos" id="page16">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="pedidos-list-item-container8">
      <div id="pedidos-markdown22">
        <p style="margin-top:0px;color:#000000;">Proveedor: Alejo</p>
      </div>
      <div id="pedidos-markdown24">
        <p style="margin-top:0px;color:#000000;">Fecha: 24/5/2016</p>
      </div>
      <div id="pedidos-markdown23">
        <p style="margin-top:0px;color:#000000;">Total: $700</p>
      </div>
      <a ui-sref="menu.detallesPedido" id="pedidos-button24" style="font-size:16px;border-radius:51px 51px 51px 51px;" class="button button-positive button-small button-block">Ver mas</a>
    </div>
    <a ui-sref="menu.nuevoPedido" id="pedidos-button23" class="button button-positive  button-block">Nuevo pedido</a>
  </ion-content>
</ion-view>