<ion-view view-title="Pedidos">
   <div class="bar bar-subheader bar-stable item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon "></i>
            <input type="search" placeholder="Search" ng-change="srchchange()" ng-model="adn.item">
          </label>
          <button class="button button-clear " ng-click="ressetserach()"><i class="ion-android-cancel assertive"></i>
          </button>
   </div>
	
  <ion-content class="has-subheader white-bg"  has-bouncing="true">
  
	  <ion-list>
		<div   ng-repeat="pedido in pedidosFiltrados"  data="{{pedidosFiltrados}}" ng-click="getDatapointId(pedidosFiltrados)" >
          <ion-item>  
           <p style="margin-top:0px;color:#000000;"> 
			   <H2 style="weight: bold;"> Nombre proveedor: {{pedido.proveedor.nombre}} </H2> 
				    Fecha: {{pedido.fecha}} <br>
					Ganancia total $: {{pedido.total}}
			</p>
          </ion-item>
        </div>
		<div ng-if="pedidosFiltrados !== undefined && !pedidosFiltrados.length" class="no-results">
			<ion-item >No Results Found..</ion-item >
		</div>
	</ion-list>
	
	 </ion-content>
		
	<ion-footer-bar style="height: 60px;">
		<button  style="height: 37px; font-size:18px;" class="button button-positive  button-block" ng-click="nuevoPedido()">Nuevo pedido</button>
	</ion-footer-bar>
</ion-view>