<ion-view title="Pedidos" id="page16">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="Pedidos-list-item-container10">
      <ion-list">
            <ion-item ng-repeat="pedido in pedidosConfirmados">
                <p style="margin-top:0px;color:#000000;"> 
					Nombre proveedor: {{pedido.nombreProveedor}} <br>
				    Fecha: {{pedido.fecha}} <br>
					Ganancia total: {{pedido.total}}
				</p>
            </ion-item>
		</ion-list>
    </div>
	<button id="ventasConfirmadas-button1" style="font-size:16px;border-radius:51px 0px 0px 51px; margin-top:10px" class="button button-positive button-small button-line" ng-click="verMenosPedidos()">Ver Menos</button>
	<button id="ventasConfirmadas-button2" style="font-size:16px;border-radius:0px 51px 51px 0px; margin-top:10px" class="button button-positive button-small button-line" ng-click="verMasPedidos()">Ver Más</button>
  </ion-content>
</ion-view>
<ion-footer-bar style="height: 60px;">
  <button  style="height: 37px; font-size:18px;" class="button button-positive  button-block" ng-click="nuevoPedido()">Nuevo pedido</button>
</ion-footer-bar>