<ion-view title="Perfil" id="page9">
  <ion-content padding="true" class="has-header">
    <h1 id="perfil-heading24" style="color:#000000;text-align:center;">Ultimas ventas</h1>
	
    <div class="item item-body" id="perfil-list-item-container4">
		<ion-list">
            <ion-item ng-repeat="venta in ultimasVentas" ng-click="verDetalleVenta(venta)">
                <p style="margin-top:0px;color:#000000;"> 
					Nombre cliente: {{venta.cliente.nombre}} {{venta.cliente.apellido}} <br>
				    Fecha: {{venta.fecha}} <br>
					Ganancia total: {{venta.total}}
				</p>
            </ion-item>
		</ion-list>
		<button id="perfil-button1" style="font-size:16px;border-radius:51px 0px 0px 51px; margin-top:10px;" class="button button-positive button-small button-line" ng-click="verMenosVentas()">Ver Menos</button>
		<button id="perfil-button1" style="font-size:16px;border-radius:0px 51px 51px 0px; margin-top:10px;" class="button button-positive button-small button-line" ng-click="verMasVentas()">Ver Más</button>
    </div>
	
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <h1 id="perfil-heading31" style="color:#000000;text-align:center;">Ultimos pedidos</h1>
    <div class="item item-body" id="perfil-list-item-container5">
		<ion-list>
            <ion-item ng-repeat="pedido in ultimosPedidos" ng-click="verDetallePedido(pedido)">
                <p style="margin-top:0px;color:#000000;"> 
					Nombre proveedor: {{pedido.proveedor.nombre}} <br>
				    Fecha: {{pedido.fecha}} <br>
					Precio total: {{pedido.total}}
				</p>
            </ion-item>
		</ion-list>
	  <button id="perfil-button3" style="font-size:16px;border-radius:51px 0px 0px 51px; margin-top:10px" class="button button-positive button-small button-line" ng-click="verMenosPedidos()">Ver Menos</button>
	  <button id="perfil-button4" style="font-size:16px;border-radius:0px 51px 51px 0px; margin-top:10px" class="button button-positive button-small button-line" ng-click="verMasPedidos()">Ver Más</button>
    </div>
 
	<h1 id="perfil-heading26" style="color:#000000;text-align:center;">Ganancias</h1>
	<div class="item item-body" id="perfil-list-item-container5">
		<h2 ng-bind-html="gananciaAnual" id="perfil-heading27" style="color:#000000; font-weight:bold;">Anual: $0</h2>
		<h2 ng-bind-html="gananciaMensual" id="perfil-heading28" style="color:#000000; font-weight:bold;">Mensual: $0</h2>
		<h2 ng-bind-html="gananciaSemanal" id="perfil-heading29" style="color:#000000; font-weight:bold;">Ultima semana: $0</h2>
    </div>
  </ion-content>
</ion-view>