<ion-view title="Perfil" id="page9">
  <ion-content padding="true" class="has-header">
    <h1 id="perfil-heading24" style="color:#000000;text-align:center;">Ultimas ventas</h1>
    <div class="item item-body" id="perfil-list-item-container4">
      <div id="perfil-markdown11">
        <p style="margin-top:0px;color:#000000;">Nombre cliente: Brayam Ojeda</p>
      </div>
      <div id="perfil-markdown12">
        <p style="margin-top:0px;color:#000000;">Ganancia total: $500</p>
      </div>
      <div id="perfil-markdown13">
        <p style="margin-top:0px;color:#000000;">Fecha: 20/10/2016</p>
      </div>
      <button id="perfil-button13" style="font-size:16px;border-radius:51px 51px 51px 51px;" class="button button-positive button-small button-block">Ver mas</button>
    </div>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <h1 id="perfil-heading31" style="color:#000000;text-align:center;">Ultimos pedidos</h1>
    <div class="item item-body" id="perfil-list-item-container5">
      <div id="perfil-markdown15">
        <p style="margin-top:0px;color:#000000;">Nombre proveedor: Alejo Gagliardi</p>
      </div>
      <div id="perfil-markdown16">
        <p style="margin-top:0px;color:#000000;">Fecha: 24/5/2016</p>
      </div>
      <div id="perfil-markdown17">
        <p style="margin-top:0px;color:#000000;">Total: $700</p>
      </div>
      <a ui-sref="menu.detallesPedido" id="perfil-button15" style="font-size:16px;border-radius:51px 51px 51px 51px;" class="button button-positive button-small button-block">Ver mas</a>
    </div>
    <div class="spacer" style="width: 300px; height: 49px;"></div>
    <h1 id="perfil-heading26" style="color:#000000;text-align:center;">Ganancias</h1>
    <h3 id="perfil-heading27" style="color:#000000;">Anual: $60000</h3>
    <h3 id="perfil-heading28" style="color:#000000;">Mensual: $7800</h3>
    <h3 id="perfil-heading29" style="color:#000000;">Ultima semana: $2300</h3>
  </ion-content>
</ion-view>