<ion-view title="Productos" id="page21">
  <ion-content padding="true" class="has-header">
    <form id="productos-form9" class="list">
      <h2 id="productos-heading55" style="color:#000000;text-align:center;">Busqueda por nombre</h2>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
    </form>
		<div class="item item-body" id="productos-list-item-container1">
			 <ion-list class=" " id="productos-list5">
				<ion-item ng-repeat="producto in productos" style="" id="productos-list-item17" class="">
					<div>
						<img src="img/W6NDcAM7RFKYErD69Ay0_venta-de-productos.jpg" width="100%" height="100" style="display: block; margin-left: auto; margin-right: auto;">
					</div>
					Nombre: {{producto.nombre}} <br>
					Descripcion: {{producto.descripcion}} <br>
					Categoria: {{producto.categoria}} <br>
					Stock: {{producto.cantidad}}<br>
					Precio compra: {{producto.precioCompra}}<br>
					Precio venta: {{producto.precioVenta}}<br>
					<div id="productos-button-bar5" class="button-bar">
						<button id="productos-button31" class="button button-positive  button-block" ng-click="eliminarProducto(producto)">Eliminar</button>
						<button id="productos-button30" class="button button-positive  button-block">Añadir Stock</button>
					</div>
				</ion-item>
			</ion-list>
		</div>
  </ion-content>
</ion-view>

<ion-footer-bar style="height: 60px;">
  <button  style="height: 37px; font-size:18px;" class="button button-positive  button-block" ng-click="nuevoProducto()">Nuevo producto</button>
</ion-footer-bar>