<ion-view title="Productos" id="page21">
  <ion-content padding="true" class="has-header">
    <form id="productos-form9" class="list">
      <h2 id="productos-heading55" style="color:#000000;text-align:center;">Busqueda por nombre</h2>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 54px;"></div>
    </form>
    <div class="item item-body" id="productos-list-item-container11">
      <div>
        <img src="img/vdA28BaOQMq0rD7duMDl_f254782e409a2635d4b69a6f8ad7eecd.jpg" width="100%" height="100" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div id="productos-markdown10">
        <p style="margin-top:0px;color:#000000;">Nombre: Vasos descartables</p>
      </div>
      <div id="productos-markdown14">
        <p style="margin-top:0px;color:#000000;">Descripcion: Vaso desechable 1 litro</p>
      </div>
      <div id="productos-markdown47">
        <p style="margin-top:0px;color:#000000;">Categoria: Cotillon</p>
      </div>
      <div id="productos-markdown49">
        <p style="margin-top:0px;color:#000000;">Stock: 1000</p>
      </div>
      <div id="productos-markdown51">
        <p style="margin-top:0px;color:#000000;">Precio de compra: $0,15</p>
      </div>
      <div id="productos-markdown52">
        <p style="margin-top:0px;color:#000000;">Precio de venta: $0,30</p>
      </div>
      <div id="productos-button-bar5" class="button-bar">
        <button id="productos-button30" class="button button-positive  button-block">Pedir mas</button>
        <button id="productos-button31" class="button button-positive  button-block">Eliminar</button>
      </div>
    </div>
    <a ui-sref="menu.nuevoProducto" id="productos-button26" class="button button-positive  button-block">Nuevo producto</a>
  </ion-content>
</ion-view>