<ion-view title="Registrarse" id="page4">
  <ion-content padding="true" class="has-header">
    <h2 id="registrarse-heading2" style="color:#000000;">Nombre</h2>
    <form id="registrarse-form1" class="list">
      <label class="item item-input" id="registrarse-input1">
        <input type="text" placeholder="">
      </label>
    </form>
    <h2 id="registrarse-heading3" style="color:#000000;">Apellido</h2>
    <form id="registrarse-form2" class="list">
      <label class="item item-input" id="registrarse-input2">
        <input type="text" placeholder="">
      </label>
      <h2 id="registrarse-heading6" style="color:#000000;">Nombre de usuario</h2>
      <label class="item item-input" id="registrarse-input5">
        <input type="text" placeholder="">
      </label>
      <h2 id="registrarse-heading19" style="color:#000000;">Contraseña</h2>
      <label class="item item-input" id="registrarse-input6">
        <input type="password" placeholder="">
      </label>
      <h2 id="registrarse-heading20" style="color:#000000;">Repita contraseña</h2>
      <label class="item item-input" id="registrarse-input7">
        <input type="password" placeholder="">
      </label>
      <button id="registrarse-button1" class="button button-positive  button-block">Registrarse</button>
    </form>
  </ion-content>
</ion-view>