<ion-view style="" id="page6" title="Signup">
    <ion-content class="has-header" padding="true">
		<div>
			<img src="img/signup.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 15px">
		</div>
        <form class="list" id="signup-form2">
            <ion-list id="signup-list2">
                <label id="signup-input3" class="item item-input">
                    <span class="input-label">Nombre</span>
                    <input placeholder="" type="text">
                </label>
				<br>
				<label id="signup-input3" class="item item-input">
                    <span class="input-label">Apellido</span>
                    <input placeholder="" type="text">
                </label>
				<br>
                <label id="signup-input4" class="item item-input">
                    <span class="input-label">Usuario</span>
                    <input placeholder="" type="text">
                </label>
				<br>
                <label id="signup-input5" class="item item-input">
                    <span class="input-label">Contraseña</span>
                    <input placeholder="" type="text">
                </label>
            </ion-list>
            <button class="button button-stable  button-block" id="signup-button3">Sign up</button>
        </form>
    </ion-content>
</ion-view>