<ion-view title="Ventas pendientes" id="page20">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="ventasPendientes-list-item-container15">
      <ion-list">
            <ion-item ng-repeat="venta in ventasNoConfirmadas" ng-click="verDetalleVenta(venta)">
                <p style="margin-top:0px;color:#000000;"> 
					Nombre cliente: {{venta.nombreCliente}} <br>
				    Fecha: {{venta.fecha}} <br>
					Ganancia total: {{venta.total}}
				</p>
				<button id="ventasPendientes-button33" class="button button-positive  button-line" ng-click="eliminarVentaNoConfirmada(venta)">Cancelar</button>
				<button id="ventasPendientes-button34" class="button button-positive  button-line" ng-click="confirmarVenta(venta)">Confirmar</button>
            </ion-item>
		</ion-list>
		<button id="perfil-button1" style="font-size:16px;border-radius:51px 0px 0px 51px; margin-top:10px;" class="button button-positive button-small button-line" ng-click="verMenosVentasNoConfirmadas()">Ver Menos</button>
		<button id="perfil-button1" style="font-size:16px;border-radius:0px 51px 51px 0px; margin-top:10px;" class="button button-positive button-small button-line" ng-click="verMasVentasNoConfirmadas()">Ver Más</button>
    </div>
  </ion-content>
</ion-view>