<ion-view title="Ventas Confirmadas" id="page18">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="ventasConfirmadas-list-item-container10">
      <ion-list">
            <ion-item ng-repeat="venta in ventasConfirmadas">
                <p style="margin-top:0px;color:#000000;"> 
					Nombre cliente: {{venta._id}} <br>
				    Fecha: {{venta.fecha}} <br>
					Ganancia total: {{venta.Total}}
				</p>
            </ion-item>
		</ion-list>
	  <button id="ventasConfirmadas-button1" style="font-size:16px;border-radius:51px 0px 0px 51px; margin-top:10px" class="button button-positive button-small button-line" ng-click="verMenosVentasConfirmadas()">Ver Menos</button>
	  <button id="ventasConfirmadas-button2" style="font-size:16px;border-radius:0px 51px 51px 0px; margin-top:10px" class="button button-positive button-small button-line" ng-click="verMasVentasConfirmadas()">Ver Más</button>
    </div>
  </ion-content>
</ion-view>