<ion-view title="Ventas pendientes" id="page20">
  <div class="bar bar-subheader bar-stable item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon "></i>
            <input type="search" placeholder="Search" ng-change="srchchange()" ng-model="adn.item">
          </label>
          <button class="button button-clear " ng-click="ressetserach()"><i class="ion-android-cancel assertive"></i>
          </button>
   </div>
	
  <ion-content class="has-subheader white-bg"  has-bouncing="true">
  
	  <ion-list>
		<div   ng-repeat="ventaPendiente in ventasPendientesFiltradas"  data="{{ventasPendientesFiltradas}}" >
          <ion-item>  
           <p style="margin-top:0px;color:#000000;"> 
					<H2 style="weight: bold;">
					Nombre cliente: {{ventaPendiente.cliente.nombre}} {{ventaPendiente.cliente.apellido}} <H2> 
				    Fecha: {{ventaPendiente.fecha}} <br>
					Ganancia total: {{ventaPendiente.total}}
			</p>
			<button style="margin-bottom:10px;" id="ventasPendientes-button33" class="button button-positive  button-line" ng-click="eliminarVentaNoConfirmada(ventaPendiente)">Cancelar</button>
			<button style="margin-bottom:10px;" id="ventasPendientes-button34" class="button button-positive  button-line" ng-click="confirmarVenta(ventaPendiente)">Confirmar</button>
          </ion-item>
        </div>
		<div ng-if="ventasPendientesFiltradas !== undefined && !ventasPendientesFiltradas.length" class="no-results">
			<ion-item >No Results Found..</ion-item >
		</div>
	</ion-list>
	
	 </ion-content>
</ion-view>