<ion-view title="Ventas Confirmadas" id="page18">
   <div class="bar bar-subheader bar-stable item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon "></i>
            <input type="search" placeholder="Search" ng-change="srchchange()" ng-model="adn.item">
          </label>
          <button class="button button-clear " ng-click="ressetserach()"><i class="ion-android-cancel assertive"></i>
          </button>
   </div>
	
  <ion-content class="has-subheader white-bg"  has-bouncing="true">
  
	  <ion-list>
		<div   ng-repeat="ventaConfirmada in ventasConfirmadasFiltradas"  data="{{ventasConfirmadasFiltradas}}" >
          <ion-item>  
           <p style="margin-top:0px;color:#000000;"> 
					<H2 style="weight: bold;">
					Nombre cliente: {{ventaConfirmada.cliente.nombre}} {{ventaConfirmada.cliente.nombre}} </H2> 
				    Fecha: {{ventaConfirmada.fecha}} <br>
					Ganancia total: {{ventaConfirmada.total}}
			</p>
          </ion-item>
        </div>
		<div ng-if="ventasConfirmadasFiltradas !== undefined && !ventasConfirmadasFiltradas.length" class="no-results">
			<ion-item >No Results Found..</ion-item >
		</div>
	</ion-list>
	
	</ion-content>
</ion-view>