<ion-view style="" id="page11" title="Agregar Cliente">
    <ion-content class="has-header" padding="true">
        <form class="list" id="agregarCliente-form7">
            <label id="agregarCliente-input6" class="item item-input">
                <span class="input-label">Nombre</span>
                <input placeholder="" type="text">
            </label>
            <label id="agregarCliente-input7" class="item item-input">
                <span class="input-label">Apellido</span>
                <input placeholder="" type="text">
            </label>
            <label id="agregarCliente-input10" class="item item-input">
                <span class="input-label">Dni</span>
                <input placeholder="" type="number">
            </label>
            <label id="agregarCliente-input9" class="item item-input">
                <span class="input-label">Direccion</span>
                <input placeholder="" type="text">
            </label>
            <label id="agregarCliente-input8" class="item item-input">
                <span class="input-label">Telefono</span>
                <input placeholder="" type="tel">
            </label>
            <a class="button button-positive  button-block" id="agregarCliente-button8" ui-sref="ventas.seleccionarCliente">Terminar</a>
        </form>
    </ion-content>
</ion-view>