<ion-view style="" id="page10" title="Seleccionar Cliente">
    <ion-content class="has-header" padding="true">
        <form class="list" id="seleccionarCliente-form6">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="" type="search">
            </label>
        </form>
        <ion-list id="seleccionarCliente-list8">
            <ion-item style="" id="seleccionarCliente-list-item4">Item 1</ion-item>
            <ion-item style="" id="seleccionarCliente-list-item5">Item 2</ion-item>
            <ion-item style="" id="seleccionarCliente-list-item6">Item 3</ion-item>
        </ion-list>
        <a class="button button-positive  button-block" id="seleccionarCliente-button7" ui-sref="ventas.agregarCliente">Nuevo Cliente</a>
        <div class="button-bar" id="seleccionarCliente-button-bar5">
            <a class="button button-positive  button-block" id="seleccionarCliente-button5" ui-sref="ventas.confirmarProductos">Anterior</a>
            <a class="button button-positive  button-block" id="seleccionarCliente-button6" ui-sref="ventas.agregueProductos">Terminar</a>
        </div>
    </ion-content>
</ion-view>