<ion-view style="" id="page6" title="Signup">
    <ion-content class="has-header" padding="true">
        <form class="list" id="signup-form2">
            <ion-list id="signup-list2">
                <label id="signup-input3" class="item item-input">
                    <span class="input-label">Name</span>
                    <input placeholder="" type="text">
                </label>
                <label id="signup-input4" class="item item-input">
                    <span class="input-label">Username</span>
                    <input placeholder="" type="text">
                </label>
                <label id="signup-input5" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="text">
                </label>
            </ion-list>
            <button class="button button-stable  button-block" id="signup-button3">Sign up</button>
        </form>
    </ion-content>
</ion-view>